@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  @keyframes loading-bar {
    0% { transform: translateX(-100%); }
    50% { transform: translateX(10%); }
    100% { transform: translateX(100%); }
  }
  .animate-loading-bar {
    animation: loading-bar 1.1s ease-in-out infinite;
  }
}
